body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('https://www.islands.com/sites/islands.com/files/styles/380_4x3/public/islands-homepage-grid-beach.jpg?itok=MFnibsJe');
  background-position: center;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineButton, .meetupButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.huge {
  height: 260px;
  width: 200px;
}
.leonardo {
  background-image: url('http://4.bp.blogspot.com/-DmBHFt1ME-Y/Ta7blnkaY8I/AAAAAAAAL-A/zxtOBIPjGX4/s1600/profile_mikey.gif');
}
.fancy {
  background-image: url('https://img.clipartxtras.com/8146ddb1b53896985c6dc41bcac6a6f5_teenage-mutant-ninja-turtles-clip-art-clipartsco-turtles-teenage-mutant-ninja-turtle-clipart_600-600.png');
}

.rotate {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}